@{
    ViewData["Title"] = "About";
}
<style>
    .title{
        font-weight: bold;
    }
</style>
<div class="container" style="margin-top: 65px">
    
    
    <div class="col-md-5">
        <div class="about">
            <h3>OUR HISTORY</h3>

            <p align="justify">We will help you to become better</p>
       
            <p align="justify">Now, we’re building on our brand strengths with a vision:</palign="justify">
            <h2>“To become the company that defines global modern Book Market”</h2>
            <p align="justify">
                You will find book for your taste
            </p>

        </div>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="~/images/ourhistoryB.jpg" alt="history" />
    </div>

    
</div>

