@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>





    <img src="~/images/ContactBg.jpg" alt="" class="img-responsive" align="right" />

    <h2 align="left">
        <strong>Address:</strong><br />
        30<br /> Soborna st.<br />Rivne<br /> Ukraine

        <br />
        <br />
        <strong>Phone:</strong><br />
        +380 96 684 2433
        <br />
        <br />
        <strong>Email:</strong><br />
        support@quanlitybooks.com.ua
    </h2>

